# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]

# Node / Hardhat
node_modules/
ai-crime-network-platform/smart-contracts/cache/
ai-crime-network-platform/smart-contracts/artifacts/


# Venvs
.venv/
venv/